@use './variables' as *;

@font-face {
  font-family: 'AvenirNext';
  src: url('../../assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'AvenirNext';
  src: url('../../assets/fonts/AvenirNextLTPro-Demi.otf') format('opentype');
  font-weight: 600;
}
@font-face {
  font-family: 'AvenirNext';
  src: url('../../assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype');
  font-weight: 700;
}

@mixin desktop {
  @media screen and (min-width: $desktop_breakpoint) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: $mobile_breakpoint) {
    @content;
  }
}

@mixin btn_style {
  display: flex;
  align-items: center;
  width: 14rem;
  height: 3.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
  background-color: $flix-blue;
  border: none;
  border-radius: 0.3rem;
  &-icon {
    margin: 0 1.5rem 0 0.2rem;
  }
}

@mixin profile_style {
  width: 3.7rem;
  height: 3.7rem;
  margin: 0 1rem;
  border-radius: 50%;
  overflow: hidden;
  &-img {
    height: 100%;
  }
}
