//break points
$desktop_breakpoint: 1280px;
$mobile_breakpoint: 767px;

//colors
$flix-black: #323232;
$flix-blue: #0095ff;
$silver: #afafaf;
$flix-dark-blue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;
