@use '../../styles/partials/globals' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.3rem;
  &__title {
    margin: 2rem 0;
    font-size: 1.5rem;
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    align-self: center;
    width: 100%;
    padding-bottom: 2.5rem;
    gap: 1rem;
  }
  &__profile {
    @include profile_style;
  }
  &__form {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 100%;
    gap: 1vw;
  }
  &__input-label {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: $silver;
  }
  &__input {
    display: flex;
    align-items: center;
    height: 4rem;
    margin-top: 0.5rem;
    padding-left: 2rem;
    flex-grow: 1;
    font-family: 'AvenirNext';
    font-size: 1.5rem;
    line-height: 40px;
    border: 1px solid $mercury;
    border-radius: 5px;
    background-color: $alabaster;
    resize: none;
    overflow-y: hidden;
    &::placeholder {
      color: black;
    }
    &:focus {
      outline: 2px solid $flix-blue;
    }
  }
  &__submit {
    @include btn_style;
    width: 17rem;
    margin-right: 2.5rem;
    &-icon {
      margin: 0 1.5rem 0 1rem;
    }
  }

  @include mobile {
    &__wrapper {
      align-items: flex-start;
    }
    &__profile {
      margin-top: 2rem;
    }
    &__form {
      flex-direction: column;
      gap: 2rem;
    }
    &__input {
      height: 11rem;
    }
    &__submit {
      justify-content: space-between;
      width: 100%;
      margin-right: 0;
      &-icon {
        flex: 0 0 auto;
      }
      &::after {
        content: '';
        flex-grow: 0.1;
      }
    }
  }
}
