.videos__item {
  display: flex;
  gap: 2rem;
  &-img {
    width: 45%;
    height: auto;
    border-radius: 6px;
  }
  &-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 0;
  }
  &-title {
    font-size: 1.5rem;
  }
  &-author {
    font-size: 1.3rem;
  }
}
