.videos__item {
  display: flex;
  gap: 2rem;
  margin-bottom: 2.5rem;
  cursor: pointer;
  &--active {
    display: none;
  }
  &-img {
    width: 14rem;
    height: 8rem;
    border-radius: 6px;
    object-fit: cover;
  }
  &-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 0;
  }
  &-title {
    font-size: 1.6rem;
    font-weight: 600;
  }
  &-author {
    font-size: 1.5rem;
  }
}
