@use './styles/partials/globals' as *;
@use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;

.bottom {
  display: flex;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
  &__block1 {
    width: 75%;
  }
  &__line {
    width: 2px;
    height: auto;
    background-color: $mercury;
  }
  &__block2 {
    width: 25%;
    flex-shrink: 0;
  }
}
